## `hi

In [4]:
tu=1,'rak',1

In [5]:
type(tu)

tuple

In [6]:
tu

(1, 'rak', 1)

In [7]:
dir(tu)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
l=[1,2,3]

In [9]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
l.index(2)

1

In [23]:
a=l+['python',False]

In [24]:
l

[1, 2, 3]

In [25]:
a

[1, 2, 3, 'python', False]

In [26]:
a[3]

'python'

In [28]:
?l.index

In [31]:
b=['python',2,3,4,'python']

In [39]:
b.index('python',1)

4

In [40]:
tu

(1, 'rak', 1)

In [44]:
q=tu+(1,2,3)

In [45]:
q

(1, 'rak', 1, 1, 2, 3)

In [48]:
?q.index

In [49]:
l

[1, 2, 3]

In [52]:
l.extend('rak')

In [53]:
l

[1, 2, 3, 'r', 'a', 'k']

In [58]:
l.extend(['rak','king'])

In [59]:
l

[1, 2, 3, 'r', 'a', 'k', 'rak', 'rak', 'king', 'rak', 'king']

In [60]:
print(l)

[1, 2, 3, 'r', 'a', 'k', 'rak', 'rak', 'king', 'rak', 'king']

In [61]:
l.extend('25')

In [62]:
l

[1, 2, 3, 'r', 'a', 'k', 'rak', 'rak', 'king', 'rak', 'king', '2', '5']

In [64]:
r=set(l)

In [65]:
r

{1, 2, '2', 3, '5', 'a', 'k', 'king', 'r', 'rak'}

In [70]:
for i in r:
    print(i**2)

1
4
9

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [74]:
q=list(r)

In [75]:
r

{1, 2, '2', 3, '5', 'a', 'k', 'king', 'r', 'rak'}

In [76]:
l

[1, 2, 3, 'r', 'a', 'k', 'rak', 'rak', 'king', 'rak', 'king', '2', '5']

In [77]:
l.pop(5)

'k'

In [78]:
l.

[1, 2, 3, 'r', 'a', 'rak', 'rak', 'king', 'rak', 'king', '2', '5']

In [79]:
l.remove(float)

ValueError: list.remove(x): x not in list

In [80]:
sales2021=[20,30,40,50]
sales2022=[10,10,10,10]
import numpy as np

In [81]:

c=np.array(sales2021)+np.array(sales2022)

In [82]:
c

array([30, 40, 50, 60])

In [101]:
height=[175,180,185]
weight=[85,90,95]
a_height=np.array(height)
a_weight=np.array(weight)

In [102]:
q=a_weight/(a_height/100)**2

In [103]:
q

array([27.75510204, 27.77777778, 27.75748722])

In [104]:
(175/100)**2

3.0625

In [105]:
85/3.0625

27.755102040816325

In [106]:
import pandas as pd

In [108]:
pwd()

'C:\\Users\\rakei'

In [109]:
import os

In [122]:
os.chdir(r"C:\Users\rakei\OneDrive\Desktop\Data Science VT\Final class")

In [123]:
pwd()

'C:\\Users\\rakei\\OneDrive\\Desktop\\Data Science VT\\Final class'

In [125]:
cars=pd.read_csv('cars.csv')

In [126]:
cars

,Make,Model,Type,Origin,Drive Train,MSRP,Invoice,Engine Size,Cylinders,Horsepower,MPG City,MPG Highway,Weight,Wheel base,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,42573,2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,20,27,3823,109,186

In [127]:
cars.head()

,Make,Model,Type,Origin,Drive Train,MSRP,Invoice,Engine Size,Cylinders,Horsepower,MPG City,MPG Highway,Weight,Wheel base,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [130]:
?cars.abs

In [132]:
cars.shape

(428, 15)

In [133]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   Drive Train  428 non-null    object
 5   MSRP         428 non-null    int64
 6   Invoice      428 non-null    int64
 7   Engine Size  428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    int64
 10  MPG City     428 non-null    int64
 11  MPG Highway  428 non-null    int64
 12  Weight       428 non-null    int64
 13  Wheel base   428 non-null    int64
 14  Length       428 non-null    int64
dtypes: float64(2), int64(8), object(5)
memory usage: 50.3+ KB

In [138]:
cars.head()

,Make,Model,Type,Origin,Drive Train,MSRP,Invoice,Engine Size,Cylinders,Horsepower,MPG City,MPG Highway,Weight,Wheel base,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [139]:
type(cars)

pandas.core.frame.DataFrame

In [141]:
cars.isna().sum()

Make           0
Model          0
Type           0
Origin         0
Drive Train    0
MSRP           0
Invoice        0
Engine Size    0
Cylinders      2
Horsepower     0
MPG City       0
MPG Highway    0
Weight         0
Wheel base     0
Length         0
dtype: int64

In [144]:
cars.columns

Index(['Make', 'Model', 'Type', 'Origin', 'Drive Train', 'MSRP', 'Invoice',
       'Engine Size', 'Cylinders', 'Horsepower', 'MPG City', 'MPG Highway',
       'Weight', 'Wheel base', 'Length'],
      dtype='object')